# Pandas Workshop

Follow along notebook for CS Club Pandas Workshop. This notebook takes you through the basics of Pandas and some its applications and implications.

Pandas is a library used for data manipulation and management, full documentation can be found at https://pandas.pydata.org/docs/reference/index.html

## 1. Importing Pandas into your projects

Usually done as shown bellow. Installation of package can be done through pip, Python's package manager.

- Installing pip: https://pip.pypa.io/en/stable/installation/
- Install Pandas via pip: `pip install pandas`

In [ ]:
import pandas as pd

In Python, the `as` keyword is used to create an alias for the library so that we can use `pd.Dataframe` instead of `pandas.Dataframe`.

In [ ]:
# Without alias
import pandas

example = pandas.DataFrame([1, 2, 3])

# With alias - using `pd` is much nicer!
import pandas as pd

example = pd.DataFrame([1, 2, 3])

## 2. The DataFrame

The DataFrame is Pandas' primary data structure. Think of it as a normal table (like in Excel) but with extra features.

### 2.1 Panda Series

Series are a one-dimensional row of data, like a column in a table. Different type of data structures can be made as series.

In [ ]:
# From an array
array = [1, 2, 3, 4, 5]

series1 = pd.Series(array)

print(series1)

In [ ]:
# From a dictionary (Python's hashmap, works like unordered map in C++)
dict = {1: 1, 2: 2, 3: 3, 4: 4, "a": 5}

series2 = pd.Series(dict)

print(series2)

In [ ]:
# From a NumPy array (if you do not have NumPy installed, install it via `pip install numpy`)

import numpy as np

nparray = np.random.rand(5)

series3 = pd.Series(nparray)

print(series3)

You can also get the data much like a normal map or hashmap by specifying an index. Note that if an index is not specified, it is 0-indexed by default.

In [ ]:
print(series3[2])
print(series2["a"])

### 2.2 Back to DataFrame

If series is a single column, the DataFrame would be a whole table. Thus, DataFrames can be made using series and conversely, series can be extracted from DataFrames. DataFrames can also be made individually from other types of data structures such as arrays and hashmaps.

In [ ]:
# making df (DataFrame) from series

dfFromSeries = pd.DataFrame(
    {
        "A": series1,
        "B": series2,
        "C": series3,
    }
)

print(dfFromSeries)

In [ ]:
# Making DataFrame from dictionary/map

map = {
    "Name": [
        "Alice",
        "Bob",
        "Charlie",
        "David",
        "Eve",
        "Frank",
        "Grace",
        "Hannah",
        "Ian",
        "Jane",
    ],
    "Age": [24, 30, 22, 35, 29, 41, 36, 27, 31, 25],
    "City": [
        "Sydney",
        "Melbourne",
        "Adelaide",
        "Sydney",
        "Melbourne",
        "Adelaide",
        "Sydney",
        "Melbourne",
        "Adelaide",
        "Sydney",
    ],
    "Salary": [70000, 80000, 65000, 90000, 72000, 82000, 73000, 67000, 75000, 78000],
}

ageDf = pd.DataFrame(map)

print(ageDf)

Series can be extracted from DataFrame as follows:

In [ ]:
SeriesFromDF = ageDf.Name
print(SeriesFromDF)

In [ ]:
SeriesFromDF = ageDf["Age"]
print(SeriesFromDF)

### 2.3 Importing Into Pandas
Mostly we don't want data to be made in python mostly we would want to import it from a big file stored elsewhere. Pandas supports many types of files it can import from, including compressed file example showed bellow.

In [ ]:
# Reading from CSV file
df = pd.read_csv(
    "https://raw.githubusercontent.com/compsci-adl/pandas-workshop/main/StudentsPerformance.csv"
)

print(df)

Files can be read from different formats including CSV, Excel, SQL etc..

## 3. Pandas Functions

Pandas is primarily used to clean and analyse large datasets and provides some helpful built-in functions for this purpose.

### Indexing Functions

Used for retrieving data from dataset.

The `head` and `tail` functions show the first and last five elements as shown.

In [ ]:
print(ageDf.head())

In [ ]:
print(ageDf.tail())

For getting specific row or rows of data the `loc` or `iloc` method can be used.

`iloc` is used with numeric indexes and we can also get a range of values using `iloc`.

In [ ]:
ageDf.iloc[3]

In [ ]:
ageDf.iloc[1:3]

`loc` is used for retrieving using label or boolean conditions.

Boolean conditions are basically filters, can be used by themselves without `loc` as follows:

In [ ]:
ageDf[ageDf["Age"] > 25]

In [ ]:
ageDf[(ageDf["Age"] > 25) & (ageDf["Salary"] < 75000)]

In [ ]:
ageDf.loc[(ageDf["Age"] > 25) & (ageDf["Salary"] < 75000), "Name"]

### Summary Functions

Summary functions for basic statistics measures and other basic functions like sum.

In [ ]:
salaryFilt = ageDf[(ageDf["Age"] > 25) & (ageDf["Salary"] < 75000)]

print(salaryFilt)

In [ ]:
print(salaryFilt["Salary"].describe())

In [ ]:
print(ageDf["Salary"].describe())

In [ ]:
print(ageDf["Age"].mean())

### Plot function

Pandas has a built-in plot function similar to what is present in the Matplotlib library.

In [ ]:
ageDf.plot()

You can also plot a variable against another, with various kinds of plots.

In [ ]:
ageDf.plot(kind="scatter", x="Age", y="Salary")

There is also the correlation function which is discussed later.

### Drop and Fill Functions

One of Pandas' major functions is to drop or fill in a DataFrame with null values. Going back to the example where we made a DataFrame from multiple series, a mismatch of the index caused a NaN (Not a Number) value to be formed.

In [ ]:
# We get an error
print(dfFromSeries)

Two functions we can use to help in removing these values are the `dropna` and `fillna` functions. It is not always possible to drop the entire row so `fillna` is used instead.

In [ ]:
dfFromSeries["B"] = dfFromSeries.B.fillna(dfFromSeries.B.median())

print(dfFromSeries)

In [ ]:
dfFromSeries = dfFromSeries.dropna()

print(dfFromSeries)

Also there is the normal `drop` function which drops the specified row

In [ ]:
dfFromSeries.drop(labels=3)

### Groupby Function

Groupby functions make it possible to do groupwise analysis, for example grouping data by cities or countries.

Lets say we want to group our salary and age data by city instead.

In [ ]:
ageDf

We can use `groupby` to achieve this but unfortunately, printing using the `groupby` method just returns an object pointer.

In [ ]:
ageDf.groupby("City")

Use a lambda function instead to display all the elements.

In [ ]:
ageDf.groupby("City").apply(lambda df: df.iloc[:,])

In [ ]:
ageDf.groupby("City")["Salary"].agg([len, "min", "max", "mean", "median", "std"])

### Element Function

This is a function that can be used on every element, every row, or every column in a DataFrame. They can be used for various functions like displaying elements, normalisation, etc.

In [ ]:
def correction(row):
    if row.City == "Sydney":
        row.Salary += 5000
    return row


ageDf = ageDf.apply(correction, axis=1)
ageDf

### Correlation Function

Much like the statical summary function, this function makes a correlation matrix between two variables

In [ ]:
ageDf.corr()

In [ ]:
ageDf.loc[:, ["Salary", "Age"]].corr()

### Joining Functions

Pandas also has various functions to join two datasets together, with various different methods of doing so.

The two main functions used are `merge` and `concat`.

In [ ]:
half1 = ageDf.iloc[:5]
half2 = ageDf.iloc[5:]

print(half1, "\n\n", half2)

In [ ]:
combined = pd.concat([half1, half2])

combined

### Some Miscellaneous Functions

In [ ]:
# Return unique values in an array
pd.unique(ageDf["City"])

In [ ]:
# Return indexes of object
print(series2.keys())

# Returns object with all numeric values
print(pd.to_numeric(series2.keys(), errors="coerce"))

In [ ]:
#renaming the columns 
ageDf.rename(columns={'City':'State'})

### Matrix multiplication functions

In [ ]:
matrix = pd.DataFrame([[1, 1, 1], [2, 1, 3]])
matrix

In [ ]:
# Matrix transpose
matrix.T

In [ ]:
# Matrix multiply
matrix.T @ matrix

## 4. Example Usage

In [ ]:
df

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
df.groupby("lunch").apply(lambda df: df.loc[:, "math score"])
df.groupby(["lunch"])["math score"].agg(["min", "max", "median", len])

In [ ]:
df.groupby(["lunch"])["math score"].plot(kind="box")

In [ ]:
df.boxplot(column="math score", by="lunch", grid=False)

In [ ]:
newDf = df.loc[:, ["math score", "reading score"]]

In [ ]:
newDf.corr()

In [ ]:
newDf = newDf.apply(pd.to_numeric, errors="coerce")
newDf.dropna(inplace=True)

In [ ]:
newDf.corr()

In [ ]:
newDf.plot()

In [ ]:
newDf.plot(x="math score", y="reading score", kind="scatter")

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

slope, intercept = np.polyfit(newDf["math score"], newDf["reading score"], 1)
line_x = np.linspace(df["math score"].min(), df["math score"].max(), 100)
line_y = slope * line_x + intercept

newDf.plot(x="math score", y="reading score", kind="scatter")
plt.plot(
    line_x, line_y, color="red", label=f"Best Fit Line: y={slope:.2f}x+{intercept:.2f}"
)

plt.legend()

plt.show()